<div class="container">
    <div class="container-fluid">  
        <div class="title">
            <h1>Students</h1>
            <button type="button" class="btn btn-primary" (click)="backClicked()"><i class="fas fa-arrow-left"></i>  Back</button>
        </div>
        <div class="table-responsive">
            <div class="row">
                <div class="col">
                    <div class="searcher-button">
                        <label >Search by First name/Last name</label>
                        <input class="form-control" [(ngModel)]="searchName" type="text" placeholder="Buscador" aria-label="Search">
                    </div>
                    <label>
                        Data per page:
                        <select [(ngModel)]="itemsPerPage">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                        <label class="title-value">Showing {{ (page - 1) * itemsPerPage + 1 }} - {{ page * itemsPerPage }} of {{ students.length }} students</label><br>
                    </label>
                </div>
                <div class="col button-create">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addStudentModal"><i class="fas fa-plus-circle"></i>  Register Student</button>
                </div>
            </div>   

            <table class="table table-bordered">
                <thead>
                <tr class="table-primary">
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngIf="(students.length < 1)">
                        <td colspan="6">There are no students registered</td>
                    </tr>
                    <ng-container *ngIf="(students.length > 0)">
                        <tr *ngFor="let student of students | filterStudent:searchName | paginate: { itemsPerPage: itemsPerPage,
                        currentPage: page,
                        totalItems: totalRecords } ; let i = index">
                            <td>{{ student.firstName }}</td>
                            <td>{{ student.lastName }}</td>
                            <td class="actions">
                                <div class="row">
                                    <div class="col">
                                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editStudentModal" (click)="onEdit(student)" title="Edit student"><i class="fas fa-edit"></i>  </button>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteStudentModal" (click)="onDelete(student)" title="Delete student"><i class="fas fa-trash-alt"></i>  </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div>
                <pagination-controls class="my-pagination" (pageChange)="page = $event"
                previousLabel="Previous"
                nextLabel="Next"></pagination-controls>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <app-add-student-page (onRegisterStudent)="onRegisterStudent($event)"></app-add-student-page>
        </div>
    </div>
</div>

<div class="modal fade" id="editStudentModal" tabindex="-1" role="dialog" aria-labelledby="editStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <app-edit-student-page [spaceToEdit]="toEditStudent" (onEditStudent)="onEditStudent($event)"></app-edit-student-page>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteStudentModal" tabindex="-1" role="dialog" aria-labelledby="deleteModuleModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <app-delete-student-page (onDeleteStudent)="onDeleteStudent($event)"></app-delete-student-page> 
        </div>
    </div>
</div>