<div class="container">
    <div class="container-fluid">  
        <div class="title">
            <h1>Classes</h1>
            <button type="button" class="btn btn-primary" (click)="backClicked()"><i class="fas fa-arrow-left"></i>  Back</button>
        </div>
        <div class="table-responsive">
            <div class="row">
                <div class="col">
                    <div class="searcher-button">
                        <label >Search by Title/Description</label>
                        <input class="form-control" [(ngModel)]="searchName" type="text" placeholder="Searcher" aria-label="Search">
                    </div>
                    <label>
                        Data per page:
                        <select [(ngModel)]="itemsPerPage">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                        <label class="title-value">Showing {{ (page - 1) * itemsPerPage + 1 }} - {{ page * itemsPerPage }} of {{ classes.length }} classes</label><br>
                    </label>
                </div>
            </div>   

            <table class="table table-bordered">
                <thead>
                <tr class="table-primary">
                    <th>Title</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngIf="(classes.length < 1)">
                        <td colspan="6">There are no classes registered</td>
                    </tr>
                    <ng-container *ngIf="(classes.length > 0)">
                        <tr *ngFor="let class of classes | filterClass:searchName | paginate: { itemsPerPage: itemsPerPage,
                        currentPage: page,
                        totalItems: totalRecords } ; let i = index">
                            <td>{{ class.title }}</td>
                            <td>{{ class.description }}</td>
                            <td class="actions">
                                <div class="col">
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteClassModal" (click)="onDelete(class)" title="Delete class"><i class="fas fa-trash-alt"></i>  </button>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div>
                <pagination-controls class="my-pagination" (pageChange)="page = $event"
                previousLabel="Previous"
                nextLabel="Next"></pagination-controls>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteClassModal" tabindex="-1" role="dialog" aria-labelledby="deleteModuleModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <app-delete-class-page (onDeleteClass)="onDeleteClass($event)"></app-delete-class-page> 
        </div>
    </div>
</div>