<div class="custom-container">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="homepage">
      <img src="../../../assets/logos/truextendLogo.png"  alt="Truextend logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item ">
          <a routerLinkActive="active" class="nav-link" routerLink="/homepage">Homepage</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link " routerLink="/students">Students</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="/classes">Classes</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
  
  