<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Delete student</h4>
    <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
</div>

<div class="modal-body">
    <p>You are about to delete the student</p>
    <p>Are you sure?</p>
</div>

<div class="modal-footer">
    <button class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
    <button class="btn btn-primary float-right" data-bs-dismiss="modal" (click)="onDelete()">Confirm</button>
</div>