<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Delete registration</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
    <p>You are about to delete the registration of this class</p>
    <p>Are you sure?</p>
</div>

<div class="modal-footer">
    <button class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
    <button class="btn btn-primary float-right" data-bs-dismiss="modal" (click)="onDelete()">Confirm</button>
</div>